# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Environment
.env
venv/
.venv/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
